.vs/
bin/
obj/
[Dd]ebug/
[Rr]elease/
*.user
*.suo
*.pdb

/publish/
/*/PublishProfiles/
*.pubxml
*.pubxml.user

.tools/
.nuget/
packages/
*.nupkg

TestResults/
*.sequenced

*.log
Thumbs.db
Desktop.ini
$RECYCLE.BIN/

.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json